img {
	position: relative;
    float: right;
    width: 400px;
    height: auto;
	padding-right: 100px;
	margin-top: 0px;
   }
div {
	margin: 100px;
	padding: 50px;
}
p {
	margin: 50px;
	padding: 50px;
}